/* Standardmäßig dunkle Schrift auf hellem Hintergrund */
.item {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Text für abgeschlossene Aufgaben */
.priority {
  font-size: 0.9em;
  font-weight: bold;
  color: #4CAF50; /* Grüne Farbe für die Priorität */
  margin-left: 10px;
}

.checkbox {
  margin-right: 10px;
}

.textInput {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  width: 100%;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
}

/* Primäre grüne Farbe für Buttons */
input[type="submit"], button {
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.input-submit {
  background-color: #4CAF50; /* Grüne Farbe für den "Aufgabe hinzufügen"-Button */
  color: white;
}

button:hover {
  opacity: 0.8;
}

/* Sekundäre Grautöne für Löschen-Button */
button[data-set="delete-todo-btn"] {
  background-color: #f0f0f0;
  color: #888;
}

button[data-set="delete-todo-btn"]:hover {
  background-color: #e0e0e0;
}
